<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            background-color: black;
            color: white;
        }
    </style>
    <link rel="icon" href="https://i.ibb.co/f92XCX9/favicon-16x16.png" size="16x16" type="image/png">
    <title>Movie RealView</title>
</head>

<body>
<nav class="navbar navbar-light bg-light .navbar-brand">
  <div style="color:white;font-size:20px;">
      <img src="jetbrains://pycharm/navigate/reference?project=cosi-132a-repo&path=termProject/templates/RealView.jpg" alt="" width="30" height="20">
      Home         SentiMovie
  </div>
</nav>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/F0C5pY3/RealView.jpg" alt="RealView" border="0"></a>
<p style=text-align:center;"><img src="RealView.jpg" alt="RealView Logo" width="170px" height="130px" class="center"></p>
<h1 align="center">Are you ready to find a movie to watch?</h1>
<p align="center">Enter keywords based on what you are planning to see in the movie you want to watch<br></p>

<form action="{{ url_for('results') }}" name="search" method="post" align="center">
    <input type="text" id="query" name="query" size=50 value="type keywords here...">
    <input type="submit" value="Search">
</form>

</body>
</html>