<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            background-color: black;
            color: white;
        }
    </style>
    <link rel="icon" href="https://i.ibb.co/f92XCX9/favicon-16x16.png" size="16x16" type="image/png">
    <title>{{ title }} Review</title>
</head>

<body>
<nav class="navbar">
      <div style="height:30px;font-size:22px;display:table-cell;vertical-align:middle;">
          <a href="https://imgbb.com/"><img src="https://i.ibb.co/F0C5pY3/RealView.jpg" alt="RealView Logo" border="0" width="30px" height="28px"></a>&nbsp&nbsp
          <a style="color:white;text-decoration:none;vertical-align:top;" aria-current="page" href="#">Home</a>&nbsp&nbsp
          <a style="color:white;text-decoration:none;vertical-align:top;" href="#">SentiMovie</a>
      </div>

</nav>
<div style="text-align:center;padding-top:50px;padding-left:150px;padding-right:150px;">
    <p style="font-size:75px;display:inline;color:red;">{{ title }}<br></p>
    <p style="font-size:30px;display:inline;">By</p>
    <p style="color:red;font-size:30px;display:inline;">:</p>
    <p style="font-size:30px;display:inline"> {{ author }}</p><br>
    <p style="font-size:30px;display:inline;">Date</p>
    <p style="color:red;font-size:30px;display:inline;">:</p>
    <p style="font-size:30px;display:inline"> {{ date }}</p>
    <p style="font-size:17px">{{ content }}</p>
</div>

<form action="{{ url_for('next_page', page_id = page_id) }}" name="search" method="post" style="text-align:center;">
    <input type="submit" value="Back to Results">
</form>

</body>
</html>