<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IR Vector Space</title>
</head>
<body style='background-color: grey'>

<h3>Washington Post Search 5.0 (Multi-Model Retrieval w/ ElasticSearch)</h3>

<form action="{{ url_for('results') }}" name="search" method="post">
    <label for="query">Query:</label>
    <input type="text" id="query" name="query" size=50>
    <input type="radio" id="bm25" name="bm25" value="Okapi BM25 + std analyzer">
    <input type="radio" id="bm25eng" name="bm25eng" value="Okapi BM25 + eng analyzer">
    <input type="radio" id="vector" name="vector" value="sBERT embeddings">
    <input type="radio" id="rerank_sbert" name="rerank_sbert" value="ReRanking with sBERT embeddings">
    <input type="radio" id="rerank_ft" name="rerank_ft" value="ReRanking with fastText embeddings">
    <input type="submit" value="Search">
</form>


<h1>{{ document['title'] }}</h1>
<h4>By {{ document['author'] }}</h4>
<h5>{{ document['date'] }}</h5>
<br><br>
<p>{{ document['content'] }}</p>


</body>
</html>